<div class="bg-dark text-white vh-100 p-3" style="width:250px">
    <h4 class="text-center mb-4"><i class="fa-solid fa-truck me-2"></i>Giao hàng</h4>
    <a href="/GiaoHang/Index" class="d-block text-white mb-2"><i class="fa-solid fa-home me-2"></i>Trang chủ</a>
    <a href="/GiaoHang/DanhSachGiaoHang" class="d-block text-white mb-2"><i class="fa-solid fa-list me-2"></i>Danh sách giao</a>
    <a href="/GiaoHang/BaoCaoGiaoHang" class="d-block text-white"><i class="fa-solid fa-chart-line me-2"></i>Báo cáo</a>
</div>
